SubtokenEmbedderModel.embedding_size = 32
SubtokenEmbedderModel.subtoken_combination_kind = "mean"
SubtokenEmbedderModel.max_num_subtokens = 3
SubtokenEmbedderModel.dropout_rate = 0.0
SubtokenEmbedderModel.use_dense_output = False

GNNBlock.type = "Plain"
GNNBlock.intermediate_dim = -1
GNNBlock.num_towers = 1
GNNBlock.message_function_depth = 0
GNNBlock.dropout_rate = 0.1
GNNBlock.use_rezero_scaling = True

GNNModel.node_label_model = @SubtokenEmbedderModel()
GNNModel.hidden_dim = 32
GNNModel.num_layers = 2
GNNModel.add_backwards_edges = True
GNNModel.use_open_vocab_graph_ext = True
GNNModel.batch_max_num_nodes = 10000
GNNModel.batch_max_num_edges = None

CandidateQueryPointerNetLocalizationModule.hidden_dim = 32

GNNBuxlabModel.gnn_model = @GNNModel()
GNNBuxlabModel.localization_module_type = @CandidateQueryPointerNetLocalizationModule
GNNBuxlabModel.use_all_gnn_layer_outputs = True
GNNBuxlabModel.buggy_samples_weight_schedule_spec = 1.0
GNNBuxlabModel.repair_weight_schedule_spec = 1.0
GNNBuxlabModel.rewrite_vocabulary_name = "python"

create_optimizer.learning_rate = 0.001
create_optimizer.warmup_steps = 100
create_optimizer.cosine_steps = 1000
create_optimizer.cosine_restarts = 100
create_optimizer.cosine_alpha = 0.75
create_optimizer.grad_clip_bound = 1.0
create_optimizer.optimizer_type = "sgd"

train.seed = 0
train_loop.num_steps = 5000
train_loop.eval_every_num_steps = 25
train_loop.patience = 25
